SIMPLEGUARD_INSTANCE_ID=local-primary
SIMPLEGUARD_PUBLIC_URL=https://localhost

POSTGRES_DB=simpleguard
POSTGRES_USER=simpleguard
POSTGRES_PASSWORD=replace-with-a-strong-local-password
KEYCLOAK_DB=keycloak

KEYCLOAK_ADMIN_USERNAME=admin
KEYCLOAK_ADMIN_PASSWORD=replace-with-a-different-strong-password
KEYCLOAK_SIMPLEGUARD_ADMIN_PASSWORD=replace-with-a-local-admin-password

SIMPLEGUARD_OIDC_ISSUER_URI=https://idp.localhost/realms/simpleguard
SIMPLEGUARD_OIDC_JWK_SET_URI=http://keycloak:8080/realms/simpleguard/protocol/openid-connect/certs
SIMPLEGUARD_PAIRING_SESSION_VALIDITY=PT5M
SIMPLEGUARD_PAIRING_EXPIRATION_SCAN_INTERVAL=PT30S
