{
	admin 0.0.0.0:2019
}

(security_headers) {
	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains"
		X-Content-Type-Options "nosniff"
		X-Frame-Options "DENY"
		Referrer-Policy "no-referrer"
		Permissions-Policy "camera=(), microphone=(), geolocation=(self)"
		-Server
	}
}

https://localhost {
	tls internal
	encode zstd gzip
	import security_headers

	handle /api/* {
		reverse_proxy api:8080
	}

	handle /actuator/* {
		reverse_proxy api:8080
	}

	handle /livez {
		reverse_proxy api:8080
	}

	handle /readyz {
		reverse_proxy api:8080
	}

	handle {
		reverse_proxy web-admin:8080
	}
}

https://idp.localhost {
	tls internal
	encode zstd gzip
	reverse_proxy keycloak:8080
}
